<?xml version="1.0"?>
<config>
    <modules>
        <Flagbit_CronIndexer>
            <version>1.0.0</version>
        </Flagbit_CronIndexer>
    </modules>
    <global>
        <models>
            <flagbit_cronindexer>
                <class>Flagbit_CronIndexer_Model</class>
            </flagbit_cronindexer>
        </models>
        <helpers>
            <flagbit_cronindexer>
                <class>Flagbit_CronIndexer_Helper</class>
            </flagbit_cronindexer>
        </helpers>
    </global>
    <adminhtml>
         <events>
             <adminhtml_block_html_before>
                 <observers>
                     <flagbit_cronindexer_adminhtml_block_html_before>
                         <class>flagbit_cronindexer/observer</class>
                         <method>adminhtmlBlockHtmlBefore</method>
                     </flagbit_cronindexer_adminhtml_block_html_before>
                 </observers>
             </adminhtml_block_html_before>
         </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Flagbit_CronIndexer before="Mage_Adminhtml">Flagbit_CronIndexer_Adminhtml</Flagbit_CronIndexer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <flagbit_cronindexer>
                <run>
                    <model>flagbit_cronindexer/observer::process</model>
                </run>
            </flagbit_cronindexer>
        </jobs>
    </crontab>
</config>